.post{
    padding: 50px;
    border-top: 1px solid #e6e5e5;
    border-bottom: 1px solid #e6e5e5;
}

.post h1{
    text-align: center; 
    font-size: 3rem
}

.post p{
    padding: 15px;
    font-size: 2rem;
    text-align: justify;
    margin-top: 50px;
}

@media screen and (max-width: 850px){
    .post{
        padding: 50px 20px;
    }

    .post h1{
        font-size: 2rem;
    }

    .post p{
    font-size: 1.5rem;
    margin-top: 30px;
    }
}